{% extends 'tutorsite/base.html' %}

{% block content %}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">Play for Keeps</h1>
                    <p class="intro-text">Guitar tuition with Francis Watters.</p>
                    <a href="#bio" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Who am I? / Biography / About me -->
<section id="bio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Circle photo of Francis -->
                    <img src="/static/img/FrancisPlaying_cropped.png" alt="Francis Watters profile picture" class="img-circle ">
                </div>
                <div class="col-lg-6">
                    <h2>Who is Francis?</h2>
                    <p>The wonder god of the guitar can teach you to play.</p>
                    <p>What happens if there's more text here? Where does it all go? Will there still be space for the big circle?</p>
                    <p>Another one then! Now what eh?</p>
                </div>
            </div>
            <a href="#experience" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Experience -->
<section id="experience" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <h2>My experience</h2>
                    <p>I've done loads of stuff in my life.</p>
                    <p>I'm the best guitar teacher you'll ever have.</p>
                </div>
                <div class="col-lg-6">
                    <!-- Embedded Spotify playlist -->
                    <iframe src="https://open.spotify.com/embed/user/sally24/playlist/6VzLyyTQ5065cQ1WrPoDPP" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
            <a href="#qualifications" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Qualifications Section -->
<section id="qualifications" class="content-section text-center">
    <div class="qualifications-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-graduation-cap fa-5x" aria-hidden="true""></i>
                            <p><strong>Jam Factory, York</strong></br>Diploma (Distinction)</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-music fa-5x" aria-hidden="true""></i>
                            <p><strong>Leeds University BMus</strong></br>Pop & World Music (1 year)</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-check fa-5x" aria-hidden="true""></i>
                            <p><strong>DBS certificate</strong></br>Current & complete</p>
                        </div>
                    </div>
                    <a href="#approach" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- My approach to teaching / Who will benefit -->
<section id="approach" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>My approach & Who will benefit</h2>
            <p>I teach in a unique and awesome way.</p>
            <p>The people who will like it the most are also awesome and unique.</p>
            <p>Watch this video to see how awesome I am: <em>(Note - there is a little swearing!)</em></p>
            <!-- Improvisation video embedded -->
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/IKZ8GCDuWMA" frameborder="0" allowfullscreen></iframe>
            <a href="#learn" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- What You'll Learn Section -->
<section id="learn" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>What You Will Learn</h2>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li>Song-writing and so on.</li>
                        <li>Modes and harmony.</li>
                        <li>Rhythmic impulsion.</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>All the good things.</li>
                        <li>Guitary goodness.</li>
                        <li>Goodness me, the guitar!</li>
                    </ul>
                </div>
            </div>
            <a href="#map" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!--&lt;!&ndash; Testimonial Section &ndash;&gt;-->
<!--<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>-->
<!--...tomorrow we will run faster, stretch out our arms farther...-->
<!--And then one fine morning&mdash; So we beat on, boats against the-->
<!--current, borne back ceaselessly into the past.-->

<!-- Map Section -->
<div id="map">
    <a href="#contact" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</div>

<!-- Contact / Meet the team Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact us</h2>
            <p>Feel free to email or ring - but with some guidelines - booking is below!</p>
            <p><a href="mailto:wattersmusic@gmail.com">wattersmusic@gmail.com</a> | 07714 257680</p>
            <div class="row">
                <div class="col-sm-6">
                    <p>Here's some stuff about who we are as a family. :)</p>
                </div>
                <div class="col-sm-6">
                    <!-- Circle picture -->
                    <img src="/static/img/FrancisPlaying_cropped.png" alt="Francis Watters profile picture" class="img-circle ">
                </div>
            </div>
            <a href="#happensnext" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- What happens next section -->
<section id="happensnext" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What happens next</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<!-- Pricing section - three buttons -->
<section id="pricing" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Pricing</h2>
            <p>Click an option below for more information and to book your lessons:</p>
            <div class="row">
                <div class="col-sm-4">
                    <p>Insert buttons here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p>Insert buttons here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p>Insert buttons here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--&lt;!&ndash; About Section &ndash;&gt;-->
<!--<section id="about" class="container content-section text-center">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<h2>About Grayscale</h2>-->
            <!--<p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>-->
            <!--<p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>-->
            <!--<p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--&lt;!&ndash; Download Section &ndash;&gt;-->
<!--<section id="download" class="content-section text-center">-->
    <!--<div class="download-section">-->
        <!--<div class="container">-->

            <!--<div class="col-lg-1">-->
                <!--<h2>Download Grayscale</h2>-->
                <!--<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>-->
                <!--<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
{% endblock %}