{% extends 'tutorsite/base.html' %}

{% block content %}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">Play for Keeps</h1>
                    <p class="intro-text">Guitar tuition with Francis Watters.</p>
                    <a href="#bio" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Who am I? / Biography / About me -->
<section id="bio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Circle photo of Francis -->
                    <img src="/static/img/FrancisPlaying_cropped.png" alt="Francis Watters profile picture" class="img-circle ">
                </div>
                <div class="col-lg-6">
                    <h2>Who is Francis?</h2>
                    <p>The wonder god of the guitar can teach you to play.</p>
                    <p>What happens if there's more text here? Where does it all go? Will there still be space for the big circle?</p>
                    <p>Another one then! Now what eh?</p>
                </div>
            </div>
            <a href="#experience" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Experience -->
<section id="experience" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <h2>My experience</h2>
                    <p>I've done loads of stuff in my life.</p>
                    <p>I'm the best guitar teacher you'll ever have.</p>
                </div>
                <div class="col-lg-6">
                    <!-- Embedded Spotify playlist -->
                    <iframe src="https://open.spotify.com/embed/user/sally24/playlist/6VzLyyTQ5065cQ1WrPoDPP" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
            <a href="#qualifications" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Qualifications Section -->
<section id="qualifications" class="content-section text-center">
    <div class="qualifications-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-graduation-cap fa-5x" aria-hidden="true""></i>
                            <p><strong>Jam Factory, York</strong></br>Diploma (Distinction)</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-music fa-5x" aria-hidden="true""></i>
                            <p><strong>Leeds University BMus</strong></br>Pop & World Music (1 year)</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-check fa-5x" aria-hidden="true""></i>
                            <p><strong>DBS certificate</strong></br>Current & complete</p>
                        </div>
                    </div>
                    <a href="#approach" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- My approach to teaching / Who will benefit -->
<section id="approach" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>My approach & Who will benefit</h2>
            <p>I teach in a unique and awesome way.</p>
            <p>The people who will like it the most are also awesome and unique.</p>
            <p>Watch this video to see how awesome I am: <em>(Note - there is a little swearing!)</em></p>
            <!-- Improvisation video embedded -->
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/IKZ8GCDuWMA" frameborder="0" allowfullscreen></iframe>
            <a href="#learn" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- What You'll Learn Section -->
<section id="learn" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>What You Will Learn</h2>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li>Song-writing and so on.</li>
                        <li>Modes and harmony.</li>
                        <li>Rhythmic impulsion.</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>All the good things.</li>
                        <li>Guitary goodness.</li>
                        <li>Goodness me, the guitar!</li>
                    </ul>
                </div>
            </div>
            <a href="#map" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!--&lt;!&ndash; Testimonial Section &ndash;&gt;-->
<!--<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>-->
<!--...tomorrow we will run faster, stretch out our arms farther...-->
<!--And then one fine morning&mdash; So we beat on, boats against the-->
<!--current, borne back ceaselessly into the past.-->

<section id="mapstandin" class="container content-section text-center">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d84271.61750675624!2d-1.630322911375748!3d53.854277051118586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1498920142941" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<!-- Map Section -->
<!--<div id="map">-->
    <!--<a href="#contact" class="btn btn-circle page-scroll">-->
        <!--<i class="fa fa-angle-double-down animated"></i>-->
    <!--</a>-->
<!--</div>-->

<!-- Contact / Meet the team Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact us</h2>
            <p>Feel free to email or ring - but with some guidelines - booking is below!</p>
            <p><a href="mailto:wattersmusic@gmail.com">wattersmusic@gmail.com</a> | 07714 257680</p>
            <div class="row">
                <div class="col-sm-6">
                    <p>Here's some stuff about who we are as a family. :)</p>
                </div>
                <div class="col-sm-6">
                    <!-- Circle picture -->
                    <img src="/static/img/FrancisPlaying_cropped.png" alt="Francis Watters profile picture" class="img-circle ">
                </div>
            </div>
            <a href="#happensnext" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- What happens next section -->
<section id="happensnext" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What happens next</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<!-- Pricing section - three buttons -->
<section id="pricing" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 head-title">
            <h2>Pricing</h2>
	        <p>Please pick an option below to be taken to the booking page.</p>
            <div class="pricingbuttons">
                <div class="table-price" id="firstbuttonprice" onclick="myhref('https://www.paypal.me/franciswatters/35');">
                    <div class="pic-item">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                        <g>
                            <rect x="257.4" y="472.1" width="84.4" height="27.9"/>
                            <path d="M374.9,96.2c25.8-3,23.1-31,19.5-46.9c-0.6-3-1.4-5.9-2.4-8.7c-0.4-1.2-0.6-2-0.6-2h-0.1
                                C382.5,16.1,360.6,0,334.8,0c-27.8,0-51.3,18.8-58.4,44.5h-0.2l-87.5,364.9c48.8,11.9,68.6,51.7,68.6,51.7h84.7v-15.5
                                c2.1-15.7,55.4-54.9,55.4-54.9C367.5,321.1,374.9,96.2,374.9,96.2z M260,373c-9.2,0-16.5-7.4-16.5-16.5s7.4-16.5,16.5-16.5
                                c9.2,0,16.5,7.4,16.5,16.5S269.1,373,260,373z M285.2,276c-9.2,0-16.5-7.4-16.5-16.5c0-9.2,7.4-16.5,16.5-16.5
                                c9.2,0,16.5,7.4,16.5,16.5C301.7,268.7,294.2,276,285.2,276z M301.9,179.2c-9.2,0-16.5-7.4-16.5-16.5s7.4-16.5,16.5-16.5
                                c9.2,0,16.5,7.4,16.5,16.5S311,179.2,301.9,179.2z M318.6,82.4c-9.2,0-16.5-7.4-16.5-16.5s7.4-16.5,16.5-16.5
                                c9.2,0,16.5,7.4,16.5,16.5S327.8,82.4,318.6,82.4z"/>
                            <path d="M206.6,93.2c0.1,0,0.1,0,0.2,0c1.2,10.8,10.2,19.3,21.3,19.3c11.9,0,21.5-9.6,21.5-21.5
                                c0-0.2-0.1-0.5-0.1-0.6h0.1V78.1h10.7l5.8-24.4h-16.5V41.4h-0.1c0-0.2,0.1-0.5,0.1-0.6c0-11.9-9.6-21.5-21.5-21.5
                                c-11.1,0-20.1,8.4-21.3,19.3c-0.1,0-0.1,0-0.2,0c-15.1,0-27.4,12.3-27.4,27.4C179.1,81,191.4,93.2,206.6,93.2z"/>
                            <path d="M181.6,190.1c0.1,0,0.1,0,0.2,0c1.2,10.8,10.2,19.3,21.3,19.3c11.9,0,21.5-9.6,21.5-21.5
                                c0-0.2-0.1-0.5-0.1-0.6h0.1V175h12.3l5.8-24.4h-18.1v-12.4h-0.1c0-0.2,0.1-0.5,0.1-0.6c0-11.9-9.6-21.5-21.5-21.5
                                c-11.1,0-20.1,8.4-21.3,19.3c-0.1,0-0.1,0-0.2,0c-15.1,0-27.4,12.3-27.4,27.4C154.3,177.8,166.5,190.1,181.6,190.1z"/>
                            <path d="M158.1,287c0.1,0,0.1,0,0.2,0c1.2,10.8,10.2,19.3,21.3,19.3c11.9,0,21.5-9.6,21.5-21.5
                                c0-0.2-0.1-0.5-0.1-0.6h0.1v-12.3h12.4l5.8-24.4h-18.1v-12.3h-0.1c0-0.2,0.1-0.5,0.1-0.6c0-11.9-9.6-21.5-21.5-21.5
                                c-11.1,0-20.1,8.4-21.3,19.3c-0.1,0-0.1,0-0.2,0c-15.1,0-27.4,12.3-27.4,27.4C130.7,274.7,143,287,158.1,287z"/>
                            <path d="M196,344.2h-23v-12.3h-0.1c0-0.2,0.1-0.5,0.1-0.6c0-11.9-9.6-21.5-21.5-21.5c-11.1,0-20.1,8.4-21.3,19.3
                                c-0.1,0-0.1,0-0.2,0c-15.1,0-27.4,12.3-27.4,27.4c0,15.1,12.3,27.4,27.4,27.4c0.1,0,0.1,0,0.2,0c1.2,10.8,10.2,19.3,21.3,19.3
                                c11.9,0,21.5-9.6,21.5-21.5c0-0.2,0-0.5-0.1-0.6h0.1v-12.3h17.1L196,344.2z"/>
                            <!--<rect class="btn" x="0" y="0" width="500" height="500" onclick="myhref('https://www.paypal.me/franciswatters/35');" />-->
                        </g>
                        </svg>
                    </div>
                    <div class="description">
                        <h1 class="title">One lesson</h1>
                        <span class="price">£35</span>
                    </div>
                </div>

                <div class="table-price">
                    <div class="pic-item">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                        <g>
                            <path d="M351.8,41.8V19.2c0-10.6-8.6-19.2-19.2-19.2s-19.2,8.6-19.2,19.2V313c-29.6-20.6-73.1-29.4-118.5-20.1
                                C120.2,308,68.9,365.2,80.1,420.8s80.8,88.4,155.3,73.3c70.1-14.1,119.5-65.6,116-117.8c0.1-0.6,0.2-1.4,0.2-2V99.5
                                c5.1-0.1,11,0.2,17.9,1.2c96.3,14,116.3,135.5,116.3,135.5C522.4,140.3,411.4,71.1,351.8,41.8z"/>
                            <path d="M140.8,268.2c6.2-0.6,10.9-6.2,10.2-12.5c-0.6-6.2-6.2-10.9-12.5-10.2C50.6,254.3,35.2,332.7,35,333.6
                                c-1.1,6.2,3,12.2,9.2,13.4c0.7,0.1,1.4,0.1,2.1,0.1c5.4,0,10.2-3.9,11.2-9.4C57.8,336.9,69.9,275.2,140.8,268.2z"/>
                            <path d="M68.8,235.8c6.2-0.6,10.9-6.2,10.2-12.5c-0.6-6.2-6.2-11-12.5-10.2c-40.3,4-56.5,35-59.3,50.8
                                c-1.1,6.1,3,12.1,9.1,13.2c0.7,0.1,1.5,0.2,2.1,0.2c5.4,0,10.1-3.7,11.2-9.2C29.9,266.9,35.8,239,68.8,235.8z"/>
                            <path d="M396.5,430.3c-6.4-0.5-11.7,4.2-12.2,10.5c-0.1,1.2-2.7,29.5-35.1,36.6c-6.1,1.4-10.1,7.5-8.7,13.6
                                c1.1,5.4,5.9,9,11.2,9c0.7,0,1.6-0.1,2.5-0.2c39.6-8.6,52-41.3,53.1-57.3C407.5,436.1,402.8,430.8,396.5,430.3z"/>
                        </g>
                        </svg>
                    </div>
                    <span class="best-choice">1 lesson free</span>
                    <div class="description">
                        <h1 class="title">Five lessons</h1>
                        <span class="price">£140</span>
                    </div>
                </div>

                <div class="table-price">
                    <div class="pic-item">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                    viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                            <path d="M438.2,241.9c-5.8,0-11.1,3.3-13.7,8.5L411.7,276l-46.3-163c-2-7-8.5-11.5-15.7-11.1
                                c-7.2,0.4-13.2,5.8-14.2,12.9l-33.9,216.5L265.2,60.2c-1-7.5-7.3-13.2-14.9-13.3c-7.5,0-14.2,5.3-15.3,12.9l-32,195.2l-11.8-101.8
                                c-0.9-7.1-6.4-12.6-13.5-13.4c-7.1-0.8-13.8,3.4-16.2,10.2l-37.3,108l-17.1-55c-1.9-6.3-7.7-10.6-14.3-10.7
                                c-6.6-0.3-12.5,3.9-14.8,10.1l-16.2,44.8H0v30.6h72.5c6.4,0,12.3-4,14.4-10.1l4.3-12l17.3,56c1.9,6.3,7.7,10.6,14.4,10.7
                                c6.6-0.1,12.5-4,14.7-10.4l30.7-88.8L185,367.1c0.9,7.6,7.2,13.4,14.8,13.5c0.1,0,0.3,0,0.4,0c7.5,0,13.9-5.4,15-12.9L248.4,166
                                L285,439.8c1,7.6,7.5,13.2,15,13.3h0.1c7.6,0,13.9-5.4,15.2-12.9l39.5-251.6l38.1,134c1.8,6.1,7,10.5,13.3,11.1
                                c6.3,0.5,12.3-2.8,15.2-8.5l26.2-52.6H500V242h-61.8V241.9z"/>
                        </svg>
                    </div>
                    <span class="best-choice">3 lessons free</span>
                    <div class="description">
                        <h1 class="title">Ten lessons</h1>
                        <span class="price">£245</span>
                    </div>
                </div>
            </div>

            <div id="price-buttons" class="row">

                    <div class="col-sm-4">
                        <p>Insert buttons here.</p>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                        </ul>
                    </div>


                <div class="col-sm-4">
                    <p>Insert buttons here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <p>Insert buttons here.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--&lt;!&ndash; About Section &ndash;&gt;-->
<!--<section id="about" class="container content-section text-center">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<h2>About Grayscale</h2>-->
            <!--<p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>-->
            <!--<p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>-->
            <!--<p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--&lt;!&ndash; Download Section &ndash;&gt;-->
<!--<section id="download" class="content-section text-center">-->
    <!--<div class="download-section">-->
        <!--<div class="container">-->

            <!--<div class="col-lg-1">-->
                <!--<h2>Download Grayscale</h2>-->
                <!--<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>-->
                <!--<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
{% endblock %}